*{
  margin: 0;
  padding:0;
}


body{
  background-color: white;
  background-image: url("/static/images/background.jpg");
  background-size: cover;
  padding-top: 20px;
}

.container{
  max-width: 700px;
  height: 80vh;
  width: 90%;
  background-color: #fff;
  padding: 25px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.15);
}


#kurta-icon{
   display: block;
   margin-left: auto;
   margin-right: auto;
   width: 22%;
   padding-top: 40px;
}
.container h2{
  display: block;
  text-align: center;
  font-size: 40px;
}

.row{
 padding-left: 120px;
 padding-top: 100px;
}

.row .col a:link{
  color: black;
  text-decoration: none;
}

.row .col a:hover{
  color: white;
  text-decoration: none;
}

.row .col button{
  color: black;

}

.btn{
  width: 50%;
  height: 80px;
  font-weight: 750;
  border-radius: 10px;
  border-width: 2px;
}

@media(min-width:1440px) and (max-width:2560px){
  .container{
    max-width: 1000px;
    height: 95vh;
    width: 90%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  #kurta-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 40px;
 }
.row{
  padding-left: 160px;
  padding-top: 50px;
 }
  
}
@media(min-width:1024px) and (max-width:1439px){
  .container{
    max-width: 1000px;
    height: 90vh;
    width: 90%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  #kurta-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 10px;
 }
.row{
  padding-left: 160px;
  padding-top: 50px;
 }
}
@media(min-width:768px) and (max-width:1023px){
  .container{
    max-width: 1000px;
    height: 90vh;
    width: 90%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  #kurta-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20%;
    padding-top: 10px;
 }
.row{
  padding-left: 110px;
  padding-top: 50px;
 }
}
@media(min-width:425px) and (max-width:767px){
  .container{
    max-width: 1000px;
    height: 90vh;
    width: 90%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }
  #kurta-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    padding-top: 10px;
 }
.row{
  padding-left: 50px;
  padding-top: 50px;
 }
 .row .col button{
  color: black;
  font-size: 10px;
  width: 75px;
}
}
@media(min-width:320px) and (max-width:424px){
  .container{
    max-width: 1000px;
    height: 90vh;
    width: 90%;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0,0,0,0.15);
  }

  .container h2{
    font-size: 30px;
  }
  #kurta-icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding-top: 10px;
 }
.row{
  padding-left: 15px;
  padding-top: 50px;
 }
 .row .col button{
  color: black;
  font-size: 10px;
  width: 75px;
}
}