body{
    background-color: lightskyblue;
    width: 100%;
}
body h1{
    text-align: center;
    width: 100%;
}

nav{
    background-color: turquoise;
    font-size: 28px;
    padding-bottom: 10px;
    padding-left: 20px;
    color: white;
    font-weight: 500;
    font-style: bold;
}

nav a:link{
    color: white;
    text-decoration: none;
}

.fir{
    border: 2px dashed;
    width: 100%;
}

.fir form{
    width: 100%;
    padding-left: 50px;
}

.row{
    border: 1px dashed;
    width: 100%;
    padding-left: 100px;
}

div form{
    border: 2px dashed;
    width: 100%;
}

.kur form{
    padding-left: 50px;
}
.paj form{
    padding-left: 50px;
}
