body{
    background-color: lightskyblue;
    width: 100%;
}
body h1{
    text-align: center;
    width: 100%;
}

nav{
    background-color: turquoise;
    font-size: 22px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.fir{
    border: 2px dashed;
    width: 100%;
    
}

.fir form{
    width: 100%;
    padding-left: 50px;
}

.row{
    border: 1px dashed;
    width: 100%;
    padding-left: 100px;
}

div form{
    border: 2px dashed;
    width: 100%;
}

.kur form{
    padding-left: 50px;
}
.paj form{
    padding-left: 50px;
}
