<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <title> Responsive Registration Form | CodingLab </title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">New Order</div>
    <div class="content">
      <form action="#">
        <div class="user-details">
          <div class="input-box">
            <span class="details">Customer Name</span>
            <input type="text" placeholder="Enter your name" required>
          </div>
          <div class="input-box">
            <span class="details">Contact No.</span>
            <input type="text" placeholder="Enter your contact no." required>
          </div>
        </div>
        <div class="sec">
          <div class="ktitle">
            <span class="gender-title">KURTA</span>
          </div>
          <div class="input-box">
            <br>
            <span class="details">Length</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Shoulder</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Chest</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Sleeves</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Neck</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Arm Hole</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Width</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Sleeve Hole</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Hip</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Breast</span>
            <input type="text" placeholder="" required>
            <br><br>
          </div>
          <div class="input-box">
            <span class="details">Quantity</span>
            <input type="number" placeholder="" required>
            <br>
          </div>


          <div class="ptitle">
            <span class="gender-title">PYJAMA</span>
          </div>
          <div class="input-box">
            <br>
            <span class="details">Length</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Hip</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Waist</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Bottom</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Knees</span>
            <input type="text" placeholder="" required>
          </div>
          <div class="input-box">
            <span class="details">Calf</span>
            <input type="text" placeholder="" required>
          </div>

          <div class="input-box">
            <span class="details">Quantity</span>
            <input type="number" placeholder="" required>
            <br>
          </div>
          <div class="input-box">
            <br>
            <span class="details">Extra Comments</span>
            <input type="text" placeholder="" required>
          </div>
        </div>
        
        <div class="button">
          <input type="submit" value="Submit">
        </div>
      </form>
    </div>
  </div>

</body>
</html>
